# #real state price pridictor

In [1]:
import pandas as pd

In [2]:
housing=pd.read_csv("data.csv")

In [3]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     503 non-null    float64
 1   ZN       503 non-null    float64
 2   INDUS    503 non-null    float64
 3   CHAS     503 non-null    int64
 4   NOX      503 non-null    float64
 5   RM       503 non-null    float64
 6   AGE      503 non-null    float64
 7   DIS      503 non-null    float64
 8   RAD      503 non-null    int64
 9   TAX      503 non-null    int64
 10  PTRATIO  503 non-null    float64
 11  B        503 non-null    float64
 12  LSTAT    503 non-null    float64
 13  MEDV     503 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.1 KB